a {
    outline: none;
}


a:link {
    color: red;


}


a:visited {
    color: green;
}

h1 {
    font-family: 'Arial';
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    
}

